@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/montserrat-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: 700;
}

body {
  font-family: "montserrat", sans-serif;
}

.font-mont {
  font-family: "montseratt", sans-serif;
}

.mix-bg {
  background: linear-gradient(#38b5ff 80%, #ffffff 20%);
  /* background-size: 100% 70%; */
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .mix-bg {
    background: #38b5ff;
  }
}

.cap-header {
  font-size: clamp(1.8rem, 4vw, 3rem);
  line-height: clamp(2rem, 2vw + 1rem, 3rem);
}

.normal-header-clamp {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: clamp();
}
