@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/montserrat-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
}

.font-mont {
  font-family: "montseratt", sans-serif;
}

.mix-bg {
  background: linear-gradient(#38b5ff 80%, #ffffff 20%);
  /* background-size: 100% 70%; */
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .mix-bg {
    background: #38b5ff;
  }
}

.cap-header {
  font-size: clamp(1.8rem, 4vw, 3rem);
  line-height: clamp(2rem, 2vw + 1rem, 3rem);
}

.body-text {
  font-size: clamp(1rem, 5vw, 1.25rem);
  line-height: 20px;
}

.hero-header {
  font-size: clamp(1.8rem, 5vw, 3.5rem);
  font-weight: bolder;
  line-height: clamp(2rem, 2.5vw + 1.2rem, 4rem);
}

.normal-header-clamp {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: clamp();
}

.header {
  transition: transform 0.3s ease-in;
}

.header-visible {
  transform: translateY(0);
}

.header-hidden {
  transform: translateY(-100%);
}
