@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/montserrat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/montserrat-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
}

.font-mont {
  font-family: "montseratt", sans-serif;
}

.mix-bg {
  background: linear-gradient(#38b5ff 80%, #ffffff 20%);
  /* background-size: 100% 70%; */
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .mix-bg {
    background: #38b5ff;
  }
}

.cap-header {
  font-size: clamp(1.8rem, 4vw, 3rem);
  line-height: clamp(2rem, 2vw + 1rem, 3rem);
}

.body-text {
  font-size: clamp(1rem, 5vw, 1.25rem);
  line-height: 20px;
}

.hero-header {
  font-size: clamp(1.8rem, 5vw, 3.5rem);
  font-weight: bolder;
  line-height: clamp(2rem, 2.5vw + 1.2rem, 4rem);
}

.normal-header-clamp {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: clamp();
}

.header {
  transition: all 1 ease;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.green-hover:hover svg path {
  fill: #c1ff72;
}

.mail:hover svg {
  fill: #c1ff72;
}

.shadow-nd:hover {
  border: 3px solid black;
  box-shadow: 12px 12px 0px 2px rgb(255, 255, 255);
  -webkit-box-shadow: 12px 12px 0px 2px rgb(255, 255, 255);
  -moz-box-shadow: 12px 12px 0px 2px rgb(93, 9, 248);
}

.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out {
  animation: slide-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translate(100vw, -1.25rem);
  }
  100% {
    transform: translate(0, -1.25rem);
  }
}

@keyframes slide-out {
  0%{
    transform: translate(0, -1.25rem);
  }
  100%{
    transform: translateX(-100vw, -1.25rem);
  }
}
